/*Flexible Box*/
.flex-container {
  display: flex;
}
.no-flex {
  display: block;
}
.justify-content-center {
  justify-content: center;
}
.flex-direction-column {
  flex-direction: column;
}
.no-wrap {
  flex-wrap: nowrap;
}
/*Utility*/
.text-align-center {
  text-align: center;
}
/*Heading*/
.heading {
  font-family: sans-serif;
  color: skyblue;
}
/*Buttons*/
.button {
  padding: 15px;
  text-align: center;
  border: 2px solid midnightblue;
  background-color: dodgerblue;
  color: seashell;
}
/*Wordle Display*/
.wordleRow {
  clear: both;
}
.wordleRow div {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid aliceblue;
  float: left;
}
.boxIncorrect {
  background-color: gray;
  color: black;
}
.boxCorrect {
  background-color: green;
  color: black;
}
.boxYellow {
  background-color: yellow;
  color: black;
}
.boxText {
  font-size: 4rem;
  padding: 10px;
}
/*Body Styling*/
body {
  background-image: url("../bgimage.png");
  color: aliceblue;
  font-family: sans-serif;
}
